/* css reset to make the default styling for cross browser platforms */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input[type='submit'],
input[type='text'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* main project styling starts form here */

:root {
  font-size: 20px;
}

body {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* shopping list component styling */
.imagesWrapper {
  display: 'flex';
  flex-wrap: 'wrap';
  border: '1px solid rgba(0,0,0,1)';
  justify-content: 'flex-start';
  /* align-items: 'center'; */
  box-sizing: 'border-box';
}

.imageWrapper {
  width: '10rem';
  height: '20rem';
  padding: '0.5rem';
  margin: '0.5rem';
  box-sizing: 'border-box';
  /* background-color: blue; */
  text-align: 'center';
}

/*  place holder styling. */
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: 'white';
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: 'white';
}

::placeholder {
  color: 'white';
  opacity: 1; /* Firefox */
}
